<section class="hero-image jumbotron">
  <div class="container">
    <!-- <h1 class="text-center">Hello.</h1> -->
  </div>
</section>

<section>
  <div class="container">
      <h1>Welcome to Art.See.</h1>
  </div>
</section>

<section>
  <div class="container">
    <h2>Latest Artwork</h2>
    {{#each ID}}
      <a href="/artwork/{{this}}"><img class="img-responsive artwork" src="/images/{{this}}.jpg" alt="Artwork" /></a>
    {{/each}}
  </div>

</section>
